.gallery__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 282px;
  max-height: 361px;
  background: #FFFFFF;
  border-radius: 10px;
}