.profile__title {
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 48px;
  color: #FFFFFF;
  margin: 0 21px 16px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 890px) {
  .profile__title {
    font-size: 29px;
    line-height: 33px;
    text-align: center;
    margin: 0 10px 8px 25px;
  }
}