.gallery__item-like {
  width: 22px;
  height: 19px;
  margin: 30px 20px 30px 0;
  background-image: url('../../../images/like.svg');
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 0.3s ease;
}

.gallery__item-like:hover {
  opacity: 0.6;
}

.gallery__item-like_active {
  width: 22px;
  height: 19px;
  margin: 30px 20px 30px 0;
  /* background-image: url('/images/like_active.svg');
  background-repeat: no-repeat; */
}