.popup__close {
  position: absolute;
  background-image: url('../../../images/close-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  transition: all 0.3s ease;
  width: 32px;
  height: 32px;
  right: -40px;
  top: -38px;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 580px) {
  .popup__close {
    right: 0;
    width: 20px;
    height: 20px;
  }
}