.popup__input-button_noactive {
  background-color: #fff;
  color: #000;
  border: 1px solid #000000;
  border-radius: 2px;
  opacity: 0.2;
  cursor: default;
}

.popup__input-button_noactive:hover {
  opacity: 0.2;
}